<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports Event Calendar</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <a href="/" class="logo-link">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Esports Event Calendar Logo" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="/">Calendar</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="/forums">Forums</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="forum-section">
            <h1>Fórum</h1>
            <div id="forum-topics">
                <div class="forum-topic">
                    <h2>Téma címe</h2>
                    <p>Téma leírása...</p>
                </div>
                <!-- További témák hozzáadása -->
            </div>
            <div id="new-topic">
                <h2>Új Téma</h2>
                <form>
                    <!-- Új téma űrlap -->
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>Contact us at <a href="mailto:contact@esportscalendar.com">contact@esportscalendar.com</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/forums.js') }}"></script>
</body>
</html>
